@font-face {
  font-family: "CyberpunkFont";
  src: url("../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RoboFont";
  src: url("../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.welcomeAbout {
  font-family: "CyberpunkFont";
  color: aliceblue;
  text-align: center;
  font-size: 50px;
  pointer-events: none;
}

.about {
  text-align: center;
  display: flex;
  font-size: 40px;
}

.blurb {
  text-align: left;
  width: 95%;
  font-family: "RoboFont";
  font-size: 25px;
  color: white;
}

.profile-pic {
  height: 300px;
  margin: 30px;
}
