.card {
  padding: 15px;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.project-name {
  font-family: "CyberpunkFont";
  font-size: clamp(32px, 5vw, 50px);
}

p,
.linkText {
  font-family: "RoboFont";
  color: white;
  font-size: clamp(18px, 2.5vw, 25px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
}

a {
  text-decoration: none;
}

.linkText:hover {
  color: red;
}
