@font-face {
  font-family: "RoboFont";
  src: url("../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.skillList {
  text-align: center;
  font-size: clamp(20px, 4vw, 30px);
  list-style: none;
  text-decoration: none;
  pointer-events: none;
  padding: 0;
  margin: 20px 0;
}

.skill {
  text-align: center;
  color: white;
  font-family: "RoboFont";
  padding: 10px;
}
