@font-face {
  font-family: "CyberpunkFont";
  src: url("../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'CyberpunkFont';
  list-style-type: none;
  margin-top: 15px;
  color: white;
}
