@font-face {
  font-family: "CyberpunkFont";
  src: url("../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "CyberpunkFont";
  list-style-type: none;
  margin-top: 15px;
  color: white;
}

.navItem {
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navItem:hover {
  color: red;
}

@media screen and (max-width: 749px) {
  .navItem {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
  }
}
