body {
  font-family: Roboto, Arial;
  margin: 0;
}


@media screen and (max-width: 749px) {

  body {
      width: fit-content;
  }

  .welcome-banner {
    text-align: left;
  }

  .about {
    font-size: 25px;
    margin-top: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .profile-pic {
    max-width: 60%;
    align-self: center;
    margin-left:0px;
    }

  .img-thumbnail {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    padding: 20px;
  }

  p {
    font-size: 20px;
  }

  .card {
    font-size: 20px;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  li {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color:aliceblue;
    font-weight:bolder;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  li:hover {
    color: red;
  }
  
  li a:hover {
    color: red;
  }

  a:link {
    color: aliceblue;
    padding: 15px;
  }

}

@media screen and (max-width: 1024px) {
    
  header {
      display: block;
      font-size: 30px;
  }

  .welcome-banner {
    text-align: left;
  }

  h1 {
      text-align: center;
  }

  header nav {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 25px;
      margin-top:25px;
  }
}

