/* =========================================
   GLOBAL RESET
========================================= */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: black; /* assuming dark cyberpunk theme */
  color: white;
}

/* =========================================
   CUSTOM FONTS
========================================= */

@font-face {
  font-family: "CyberpunkFont";
  src: url("../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RoboFont";
  src: url("../../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* =========================================
   GLOBAL ELEMENTS
========================================= */

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

p {
  font-family: "RoboFont";
  font-size: 18px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =========================================
   NAVIGATION
========================================= */

.navBar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navBar li {
  list-style: none;
  padding: 5px;
  font-size: 20px;
}

.navBar a {
  color: aliceblue;
  font-weight: bold;
}

.navBar a:hover {
  color: red;
}

/* =========================================
   HERO / WELCOME
========================================= */

.welcome-banner {
  text-align: left;
}

/* =========================================
   ABOUT SECTION
========================================= */

.about {
  margin-top: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  max-width: 300px;
  align-self: center;
}

/* =========================================
   PROJECTS
========================================= */

.card {
  padding: 15px;
  font-size: 20px;
}

.project-name {
  font-family: "CyberpunkFont";
  font-size: 32px;
}

.linkText {
  font-family: "RoboFont";
  width: 100%;
  font-size: 18px;
}

.linkText:hover {
  color: red;
}

.img-thumbnail {
  width: 100%;
  max-width: 350px;
  padding: 20px;
}

/* =========================================
   RESUME SECTION
========================================= */

.resume {
  font-family: "CyberpunkFont";
  margin-top: 30px;
  text-align: center;
  font-size: clamp(18px, 3vw, 24px);
  padding: 10px;
}

.resume a {
  text-decoration: none;
  color: skyblue;
  transition: color 0.3s ease;
}

.resume a:hover {
  color: red;
}

/* =========================================
   TABLET (750px+)
========================================= */

@media (min-width: 750px) {
  header {
    display: block;
    font-size: 30px;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
  }

  .navBar li {
    font-size: 30px;
  }

  .project-name {
    font-size: 42px;
  }

  p,
  .linkText {
    font-size: 20px;
  }
}

/* =========================================
   DESKTOP (1025px+)
========================================= */

@media (min-width: 1025px) {
  .about {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .profile-pic {
    max-width: 300px;
  }

  .navBar li {
    font-size: 40px;
  }

  .project-name {
    font-size: 50px;
  }

  p,
  .linkText {
    font-size: 22px;
  }

  .img-thumbnail {
    max-width: 700px;
  }
}
