/* ========== Base Styles (Mobile First) ========== */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: inherit;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

.welcome-banner {
  text-align: left;
}

.about {
  font-size: 25px;
  margin-top: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-pic {
  max-width: 60%;
  align-self: center;
}

.img-thumbnail {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  padding: 20px;
}

.card {
  font-size: 20px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.navBar li {
  font-size: 20px;
  padding: 5px;
  list-style: none;
}

.navBar a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

/* Tablet & Up (750px+) */

@media (min-width: 750px) {
  header {
    display: block;
    font-size: 30px;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
  }

  .navBar li {
    font-size: 30px;
  }
}

/*  Desktop (1025px+) */

@media (min-width: 1025px) {
  .about {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .profile-pic {
    max-width: 300px;
  }

  .navBar li {
    font-size: 40px;
  }
}
